<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>

            <key>SceneFill/Sprite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{101,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,118}}</string>
                <key>sourceSize</key>
                <string>{101,118}</string>
            </dict>
            <key>SceneFill/Sprite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,217},{119,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,138}}</string>
                <key>sourceSize</key>
                <string>{119,138}</string>
            </dict>
            <key>SceneFill/Sprite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{156,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,182}}</string>
                <key>sourceSize</key>
                <string>{156,182}</string>
            </dict>
            <key>SceneFill/Sprite_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,665},{221,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,256}}</string>
                <key>sourceSize</key>
                <string>{221,256}</string>
            </dict>
            <key>SceneFill/Sprite_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{237,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,275}}</string>
                <key>sourceSize</key>
                <string>{237,275}</string>
            </dict>
            <key>SceneFill/Sprite_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,361}}</string>
                <key>sourceSize</key>
                <string>{312,361}</string>
            </dict>
            <key>SceneTransparent/Sprite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,942},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>SceneTransparent/Sprite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,923},{84,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,97}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>SceneTransparent/Sprite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{100,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,115}}</string>
                <key>sourceSize</key>
                <string>{100,115}</string>
            </dict>
            <key>SceneTransparent/Sprite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,217},{133,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,150}}</string>
                <key>sourceSize</key>
                <string>{133,150}</string>
            </dict>
            <key>SceneTransparent/Sprite_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{186,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,213}}</string>
                <key>sourceSize</key>
                <string>{186,213}</string>
            </dict>
            <key>SceneTransparent/Sprite_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,365},{200,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,228}}</string>
                <key>sourceSize</key>
                <string>{200,228}</string>
            </dict>
            <key>SceneTransparent/Sprite_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{263,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,298}}</string>
                <key>sourceSize</key>
                <string>{263,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e031765cfc763551c6700170ee546160:9bf92a8dd642b770969fdedd9e67f7c0:e9c8e58805a65805a9872e91554d7434$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
